<app-header titulo="Inicio de sesión"></app-header>

<ion-content>
    <form #formulario="ngForm">
        <ion-list>
            <ion-item>
                <ion-label>Seleccione su usuario</ion-label>
                <ion-select okText="Ok" 
                            cancelText="Cancelar" 
                            [(ngModel)]="usuariosIniciarSesion.tipoUsuarioIniciarSesion"
                            name="TipoUsuarioIniciarSesion">
                    <ion-select-option *ngFor="let tipo of tipos" 
                                        value={{tipo.link}}>
                    {{tipo.name}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>

            <ion-item>
                <ion-label position="floating" color="secondary">Nombre</ion-label>
                <ion-input inputmode="text"
                            type="text"
                            placeholder="Ingrese su nombre"
                            [(ngModel)]="usuariosIniciarSesion.nombreUsuarioIniciarSesion"
                            minlength="5"
                            mode="ios"
                            name="NombreUsuario"
                            required>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label  position="floating" color="secondary">Contraseña</ion-label>
            <ion-input  type="password"
                        placeholder="Ingrese su contraseña"
                        [(ngModel)]="usuariosIniciarSesion.contrasenaUsuarioIniciarSesion"
                        mode="ios"
                        name="contraseñaUsuario"
                        required>
            </ion-input>
        </ion-item>
            <ion-button (click)="goTo()"
                    expand="full"
                    color="secondary"
                    shape="round"
                    type="submit"
                    [disabled]="formulario.invalid">
        <ion-icon slot="start" 
                    name="log-in-outline">
        </ion-icon>
        <ion-label>Iniciar Sesión </ion-label>
        </ion-button>

    </form>
</ion-content>
